@using CommonClasses.DTO

@{
    ViewBag.Title = "Deposit";
}

<script src="~/Scripts/Cashier/Deposit.js"></script>

<div>
    <h2>Deposit</h2>

    <div class="row">
        <label class="control-label" for="coinValue">Coin Value:</label>
        <input type="number" id="coinValue" min="1" />
    </div>
    <div class="row">
        <label class="control-label" for="quantity">Quantity:</label>
        <input type="number" id="quantity" min="1" />
    </div>
    <div class="row">
        <input type="submit" id="confirmDeposit" value="Add Funds" />
    </div>
</div>
