@using CommonClasses.DTO

@{
    ViewBag.Title = "Deposit";
}

<script src="~/Scripts/Cashier/Deposit.js"></script>

<div>
    <h2>Deposit</h2>

    <input type="submit" id="confirmDeposit" value="Add Funds" />
</div>