@using CommonClasses.DTO

@{
    ViewBag.Title = "Exchange";
}

<script src="~/Scripts/Cashier/Exchange.js"></script>

<div>
    <h2>Exchange</h2>

    <form action="/Cashier/ExchangeResult" id="processExchange" method="post">
        <div class="row">
            <label class="control-label" for="saleValue">Change Needed:</label>
            <input type="number" id="changeRequired" name="totalChange" />
        </div>

        <div class="row">
            <input type="submit" id="confirmExchange" value="Process Exchange" />
        </div>
    </form>
</div>
