@using CommonClasses.DTO

@{
    ViewBag.Title = "Exchange";
}

<script src="~/Scripts/Cashier/Exchange.js"></script>

<div>
    <h2>Exchange</h2>

    <div class="row">
        <label class="control-label" for="saleValue">Change Required:</label>
        <input type="number" id="changeRequired" />
    </div>

    <div class="row">
        <input type="submit" id="confirmExchange" value="Confirm Sale" />
    </div>
</div>
